*.jar
*.class
jake-experiments/dropwizard/target/**
jake-experiments/firebase/target/**

*.DS_Store
boardem-server/target/**
boardem-server/target/maven-archiver/pom.properties
boardem-server/.gitignore
boardem-server/.classpath
boardem-server/.project
boardem-server/.settings/**
boardem-server/output.txt
ben-experiments/firebase-dropwizard/target/**
