*.jar
*.class
*.DS_Store
boardem-app/platforms/**
boardem-server/target/**
boardem-server/target/maven-archiver/pom.properties
boardem-server/.gitignore
boardem-server/.classpath
boardem-server/.project
boardem-server/.settings/**
boardem-server/output.txt
boardem-server/games.dat
boardem-server/games_list.dat
push
push.bat
app
server
