<ion-view view-title="Setup Event">
  <ion-content>
    <div class="card">
		<div class="item item-divider">
			Event Details:
		</div>
		<div class="item row">
			<div class="col-25">

						<h2>Time</h2>

			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventTime('2')"></button>
					<button class="button button-clear button-dark">{{eventTime}}:00</button>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventTime('1')"></button>
				</div>
			</div>
		</div>
		<div class="item row">
			<div class="col-25">

						<h2>Day</h2>

			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventDay('2')"></button>
					<button class="button button-clear button-dark">{{eventDay}}</button>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventDay('1')"></button>
				</div>
			</div>
		</div>
		<div class="item row">
			<div class="col-25">

						<h2>Month</h2>

			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventMonth('2')"></button>
					<button class="button button-clear button-dark">{{eventMonth}}</button>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventMonth('1')"></button>
				</div>
			</div>
		</div>
		<div class="item row">
			<div class="col-25">
				<h2>Year</h2>
			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventYear('2')"></button>
					<button class="button button-clear button-dark">{{eventYear}}</button>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventYear('1')"></button>
				</div>
			</div>
		</div>
		<div class="item item-input item-floating-label">
			<span class="input-label">Games</span>
		<input type="text" ng-model="data.games" placeholder="Games">
		</div>
		</div>
		<button  class="button button-block button-royal" on-tap="createEvent()">
						Create Event
		</button>
  </ion-content>
</ion-view>