<ion-view view-title="Events">
  <ion-content>
    <div class="list ">

	    <div class="card" ng-repeat="event in events">

	      	<ion-item class="item item-thumbnail-left" href="#/app/events/{{event.event_id}}">
		      	<img src="{{event.owner_profile.picture_url}}"/>
		        <h2>{{event.name}}</h2>
				<p>{{event.time.days}} days {{event.time.hours}} hours</p>
				<p>Games: {{event.games.join(", ")}}</p>
	      	</ion-item>
	      	<ion-item class="item tabs tabs-secondary tabs-icon-left">
				<div class="tab-item balanced" on-tap="join(event.event_id)"><i class="icon ion-checkmark-circled"></i>&nbsp;Join</div>
	      	</ion-item>

	    </div>
    </div>
  </ion-content>
</ion-view>
