<ion-view view-title="Event">
  <ion-content>
    <div class="list">
    	<div class="card">
    		<div class="item item-divider">
    			{{event.name}}
    		</div>
    		<div class="item item-avatar">
		         <img src="{{owner.picture_url}}"/>
		        <h2>{{owner.display_name}}</h2>
		        <p>@{{owner.username}}</p>
        	</div>
        </div>
        <div class="list" >
    		<div class="item">{{date.days}} days {{date.hours}} hours away</div>
    		<!-- <div class="item">Event Id: {{event.event_id}}</div> -->
    		<!-- <div class="item">Location: {{event.lat}},{{event.lng}}</div> -->
            <div class="item item-button-right">
                Distance: {{event.distance}}km     
                <a class="button button-positive" href="geo:{{event.lat}},{{event.lng}}">
                   Open In Maps
                </a>
            </div>
    		<div class="item item-divider">Games</div>
    		<div class="item" ng-repeat="id in event.games track by $index">{{id}}</div>
    	</div>
    </div>
  </ion-content>
</ion-view>
