<ion-view view-title="Signup">
    <ion-header-bar class="bar-dark">
    </ion-header-bar>
	<ion-content>
		<ion-list>
			<div class="row">
				<div class="col">
					<h1 style="text-align:center">Board'Em</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input">
				    	<span class="input-label">Name</span>
						<input type="text" ng-model="data.username">
					</label> 
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button  class="button button-block button-royal" on-tap="toEvents()">
						Sign Up With Facebook
					</button>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>