<ion-view view-title="Browse">
  <ion-content>
    	<div class="list card" ng-repeat="user in users">
    		<div class="item item-avatar" on-tap="toProfile({{user.facebook_id}})">
		        <img src="{{user.picture_url}}"/>
		        <h2>{{user.display_name}}</h2>
		        <p>@{{user.username}}</p>
        	</div>
        	<ion-item class="item tabs tabs-secondary tabs-icon-left" >
				<div class="tab-item balanced" on-tap="addFriend({{user.facebook_id}})" >
					<i class="icon ion-checkmark-circled"></i>&nbsp;Friend!
				</div>

	      	</ion-item>
        </div>

  </ion-content>
</ion-view>
