<ion-view view-title="Contacts" ng-init="getUsers()">
  <ion-content>
            <div class="item item-divider">
                Boardem Friends
            </div>
    	<div class="list card" ng-repeat="user in users">
    		<div class="item item-avatar" on-tap="toProfile({{user.facebook_id}})">
		        <img src="{{user.picture_url}}"/>
		        <h2>{{user.display_name}}</h2>
		        <p>@{{user.username}}</p>
        	</div>
        	<ion-item class="item tabs tabs-secondary tabs-icon-left" >
				<div class="tab-item assertive" on-tap="removeFriend({{user.facebook_id}})" ng-show="{{user.friend}}">
					<i class="icon ion-close-circled"></i>&nbsp;Unfriend!
				</div>

	      	</ion-item>
        </div>
        <div class="item item-divider">
            Facebook Friends
        </div>
        <div class="list card" ng-repeat="user in fbFriends">
            <div class="item item-avatar" on-tap="invite(user.id)">
                <img src="{{user.picture.data.url}}"/>
                <h2>{{user.name}}</h2>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="initUsers()" icon="ion-more" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
