<ion-view view-title="Edit Event" ng-init="loadEvent()">
  <ion-content>
    <div class="card">
		<div class="item item-divider">
			Event Details:
		</div>

		<div class="item item-input item-floating-label">
			<span class="input-label">Name</span>
		<input type="text" ng-model="data.name" placeholder="Name">
		</div>
		<div class="item row">
			<div class="col-25">

						<h2 style="margin-top:20px; color:grey;">Time:</h2>

			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventTime('2')"></button>
					<span style="margin-top:10px;">{{eventTime}}:00</span>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventTime('1')"></button>
				</div>
			</div>
		</div>
		<div class="item row">
			<div class="col-25">

						<h2 style="margin-top:20px; color:grey;">Day:</h2>

			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventDay('2')"></button>
					<span style="margin-top:10px;">{{eventDay}}</span>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventDay('1')"></button>
				</div>
			</div>
		</div>
		<div class="item row">
			<div class="col-25">

						<h2 style="margin-top:20px; color:grey;">Month:</h2>

			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventMonth('2')"></button>
					<span style="margin-top:10px;">{{eventMonth}}</span>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventMonth('1')"></button>
				</div>
			</div>
		</div>
		<div class="item row">
			<div class="col-25">
				<h2 style="margin-top:20px; color:grey;">Year:</h2>
			</div>
			<div class="col">
				<div class="button-bar">
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-left" on-tap="changeEventYear('2')"></button>
					<span style="margin-top:10px;">{{eventYear}}</span>
					<button style="color:#4ea1a3;" class="button button-clear icon ion-chevron-right" on-tap="changeEventYear('1')"></button>
				</div>
			</div>
		</div>
		<div class="item item-button-right">
			<h2> <strong>Games:</strong> </h2>
			<div class="button button-positive button-clear" on-tap="gamesModal()">Choose Games</div>
		</div>
        <div class="item" ng-repeat="game in eventGames">
            <p>{{game}}</p>
        </div>

		<div class="item item-button-right">
			<h2><strong>Location:</strong></h2>
			<div class="button button-positive button-clear" on-tap="locationModal()">Choose Location</div>
		</div>
        <div class="item" ng-show="location[0]">
            <h2> <strong>{{location[0].name}}</strong></h2>
            <p>{{location[0].formatted_address}}</p>
        </div>

		</div>
		<button  class="button button-block button-royal" on-tap="editEvent()">
						Edit Event
		</button>
  </ion-content>
</ion-view>

<script id="games-modal.html" type="text/ng-template">
<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear" on-tap="closeGame()">Done</button>
      <h1 class="title">Games Modal</h1>
    </ion-header-bar>
    <ion-content>
            <div class="item item-divider">
                Shelf
            </div>
            <div class="list card" ng-repeat="game in shelfGames" ng-show="!fullView">
                <div class="item item-icon-right" on-tap="selectGame(game)">
                    <h2 style="padding-top:5px;padding-bottomn:5px;">{{game.name}}</h2>
                    <i class="icon ion-checkmark" ng-show="game.checked"></i>
                </div>
            </div>
            <div class="item item-divider">
                All Games
            </div>
            <div class="list card" ng-repeat="game in games" ng-hide="game.shelved">
                <div class="item item-icon-right" on-tap="selectGame(game)">
                    <h2 style="padding-top:5px;padding-bottomn:5px;">{{game.name}}</h2>
                    <i class="icon ion-checkmark" ng-show="game.checked"></i>
                </div>
            </div>
            <ion-infinite-scroll on-infinite="getGames()" distance="1%"></ion-infinite-scroll>
    </ion-content>
  </ion-modal-view>

</script>
<script id="location.html" type="text/ng-template">
<ion-modal-view>
    <ion-header-bar class="button-left">
    <button class="button button-clear" on-tap="closeLocation()">Done</button>
      <h1 class="title">Location Search</h1>

    </ion-header-bar>
    <ion-content >
        <ion-list>
            <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input ng-model="data.query" type="search" placeholder="Enter A Location">
      </label>
      <button class="button button-clear"  on-tap="locationSearch()">
        Search
      </button>
    </div>
            <ion-item ng-hide="locations.length > 0">
                <h3>No Locations</h3>
                <p>Try a different search</p>
            </ion-item>
            <ion-item ng-repeat="loc in locations" on-tap="selectLocation({{loc}})">
                <h3>{{loc.name}}</h3>
                <p>{{loc.formatted_address}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
  </ion-modal-view>
  </script>