<ion-view view-title="Events" ng-init="loadEvents()">
  <ion-content>
    <div class="list ">

	    <div class="card" ng-repeat="event in events" ng-show="!event.isOwner">

	      	<ion-item class="item item-thumbnail-left" href="#/app/events/{{event.event_id}}">
		      	<img src="{{event.owner_profile.picture_url}}"/>
		        <h2>{{event.name}}</h2>
						<p style="color:black;">{{event.eventDay}} {{event.eventTime}}</p>
						<p style="color:grey;">({{event.time.days}} days {{event.time.hours}} hours)</p>
						<p>Games: {{event.games.join(", ")}}</p>
	      	</ion-item>
	      	<ion-item class="item tabs tabs-secondary tabs-icon-left" >
						<div class="tab-item balanced" on-tap="join(event.event_id)" ng-show="event.canJoin && !event.isOwner">
								<i class="icon ion-checkmark-circled"></i>&nbsp;Join!
						</div>
						<div class="tab-item assertive" on-tap="leave(event)" ng-show="!event.canJoin && !event.isOwner">
								<i class="icon ion-close-circled"></i>&nbsp;Leave
						</div>
	      	</ion-item>

	    </div>
    </div>
  </ion-content>
</ion-view>
