<ion-view view-title="Event" ng-init="loadEvent()">
  <ion-content>
    <div class="list">
    	<div class="card">
    		<div class="item item-divider">
    			 <button class="button button-icon button-clear ion-edit" ng-show="event.isOwner" on-tap="editEvent({{eventId}})">
					 <span style="color:black; margin-left:5px;">{{event.name}}</span>
        </button>
				<span ng-show="!event.isOwner">{{event.name}}<span>
    		</div>
    		<div class="item item-avatar">
		         <img src="{{owner.picture_url}}"/>
		        <h2>{{owner.display_name}}</h2>
		        <p>@{{owner.username}}</p>
        	</div>

            <div class="list" >
        		<div class="item">
						<p style="color:black;">{{event.eventDay}} {{event.eventTime}}</p>
						<p>{{date.days}} days {{date.hours}} hours away</p>
						</div>
                <div class="item item-divider">
									Location
								</div>
                <div class="item">
                    <h2>{{location[0].formatted_address}}</h2>
                    <p>Distance: {{event.distance}}km</p>
										<a class="button button-positive" href="geo:{{event.lat}},{{event.lng}}">
                       Open In Maps
                    </a>
                </div>
        		<div class="item item-divider">Games</div>
                <div class="item" ng-repeat="game in games" ng-show="areGames">
                    <div class="item item-avatar" on-tap="toGame('{{game.name}}')">
                        <img src="http://{{game.image}}" style="border-radius:5%"/>
                        <h2>{{game.name}}</h2>
                        <p>{{game.minPlayers}}-{{game.maxPlayers}} players</p>
                        <p>~{{game.playingTime}} minute play time</p>
                        <p>
                            {{game.averageRating.toFixed(1)}}/10
                         </p>
                    </div>
                </div>
								<div class="item" ng-show="!areGames">
									<p>
											No Games
									</p>
								</div>
                <div class="item" ng-show="!event.games.length">No games.</div>
                <div class="item item-divider">Who's Going</div>
                <div class="item item-avatar" ng-repeat="user in event.participant_profile">
                    <img src="{{user.picture_url}}"/>
                    <h2>{{user.display_name}}</h2>
                    <p>@{{user.username}}</p>
                </div>
                <div class="item" ng-show="!event.participants.length">No participants, yet.</div>
                <ion-item class="item tabs tabs-secondary tabs-icon-left" >
                    <div class="tab-item balanced" on-tap="join(event.event_id)" ng-show="event.canJoin && !event.isOwner">
                        <i class="icon ion-checkmark-circled"></i>&nbsp;Join
                    </div>
                    <div class="tab-item assertive" on-tap="leave(event)" ng-show="!event.canJoin && !event.isOwner">
                        <i class="icon ion-close-circled"></i>&nbsp;Leave
                    </div>
                </ion-item>
        	</div>
        </div>
    </div>
  </ion-content>
</ion-view>
