<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear" on-tap="closeGame()">Cancel</button>
      <h1 class="title">Games Modal</h1>
    </ion-header-bar>
    <ion-content>
            <div class="item item-divider">
                Shelf
            </div>
            <div class="list card" ng-repeat="game in shelf" ng-show="!fullView">
                <div class="item item-icon-right" on-tap="selectGame(game)">
                    <h2 style="padding-top:5px;padding-bottomn:5px;">{{game.name}}</h2>
                    <i class="icon ion-checkmark" ng-show="game.checked"></i>
                </div>
            </div>
            <div class="item item-divider">
                All Games
            </div>
            <div class="list card" ng-repeat="game in games" ng-show="!fullView">
                <div class="item" on-tap="toGame('{{game.name}}')">
                    <h2 style="padding-top:5px;padding-bottomn:5px;">{{game.name}}</h2>
                </div>
            </div>
            <ion-infinite-scroll on-infinite="getGames()" distance="1%"></ion-infinite-scroll>
    </ion-content>
  </ion-modal-view>