<ion-view view-title="Profile">
    <ion-content>
    	<div class="list card">
    		<div class="item item-avatar">
		        <img src="{{user.picture_url}}"/>
		        <h2>{{user.display_name}}</h2>
			        <p>@{{user.username}}</p>
	        	</div>
				<ion-item class="item tabs tabs-secondary tabs-icon-left" ng-show="{{invite}}">
				<div class="tab-item balanced" on-tap="join(event.event_id)" >
					<i class="icon ion-checkmark-circled"></i>&nbsp;Friend!
				</div>

		    </ion-item>
        </div>

    </ion-content>
</ion-view>